#BUG_TITLE{
    text-align:center;
}
marquee{
    font-family:"BigDick","sans-serif","Book Antiqua","微軟正黑體","Arial","Times new roman";
    font-size:50px;
    color:Red;
    background-color:#00ff00;
}

#BGM{
    width:800px;
    height:500px;
    border-style:none;
}

table tr td{
    text-align:center;
}

.snoop_dogg{
    height:500px;
    width:300px;
}

#weed_rolling{
    height:auto;
    width:auto;
}